.exibitionsPage {
  padding-top: 50px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 34px;

    .block {
      display: flex;
      gap: 34px;
      align-items: flex-start;

      .exibitionImage {
        width: 100%;
        min-width: 600px;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
      }

      .descr {
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: 14px;
        line-height: 1.5;
      }

      @media (max-width: 800px) {
        flex-direction: column-reverse;

        .exibitionImage {
          max-width: 100%;
          min-width: unset; 
        }
      }
    }
  }
}

.title{
    font-size: 20px;
}

.link {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  text-underline-offset: 4px;

  &:hover {
    text-decoration: underline; 
  }

  &:visited {
    color: inherit;
  }
}